<!DOCTYPE html>
<html lang="en">
<head th:replace="_fragments :: head(~{title})">
    <meta charset="UTF-8">
    <!--width=device-width part sets the width of the page to follow the screen-width of the device -->
    <!-- initial-scale=1.0 part sets the initial zoom level when the page is first loaded by the browser. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!-- custom defined css file -->
    <link rel="stylesheet" href="../../static/css/frontPageStyle.css">
</head>
<body>

<!--The Top UI Element -->
<nav th:replace="_fragments :: menu(0)" class="ui inverted attached segment nav-defined nav-shadow">
    <!-- stackable keyword is to stack rows to a single column for mobile devices -->
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui orange header item header-text-size">Admin</h2>
            <a href="#" class="item hidden-on-mobile menu-click"><i class="home icon"></i>Front Page</a>
            <a href="#" class="active item hidden-on-mobile menu-click"><i class="lemon icon"></i>Category</a>
            <a href="#" class="item hidden-on-mobile menu-click"><i class="tag icon"></i>Tag</a>
            <div class="right menu hidden-on-mobile menu-click">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="../../static/images/avatar.JPG">
                        Zheng Chen
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui black icon button top-right show-on-mobile" id="mobile_menu">
            <i class="sidebar icon"></i>
        </a>
    </div>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <a href="#" class="item">Create</a>
        <a href="#" class="teal active item">Manage</a>
    </div>
</div>

<!-- The middle content -->
<div class="content-padding blog-width-small">
    <!-- the use of ui container here is for different devices like pc, mobile.. -->
    <div class="ui container">
        <form action="#" method="post" class="ui segment form">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="Search by title">
                </div>
                <div class="field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="type">
                        <i class="dropdown icon"></i>
                        <div class="default text">Category</div>
                        <div class="menu">
                            <div class="item" data-value="1">Study</div>
                            <div class="item" data-value="1">Entertainment</div>
                            <div class="item" data-value="1">Sport</div>
                            <div class="item" data-value="1">Trifles</div>
                            <div class="item" data-value="1">Global&Local News</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <button class="ui teal basic button"><i class="search icon"></i>Search</button>
                </div>
            </div>
        </form>
        <table class="ui fixed celled table">
            <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>category</th>
                <th>date</th>
                <th>operation</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>The Allegory of the cave</td>
                <td>philosophy</td>
                <td>10-09-2021</td>
                <td>
                    <a class="ui mini basic teal button">Edit</a>
                    <a class="ui mini basic red button">Delete</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="5">
                    <div class="ui container center aligned">
                        <div class="ui large buttons">
                            <button class="ui button">Previous Page</button>
                            <div class="or"></div>
                            <button class="ui button">Next Page</button>
                        </div>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- The bottom element-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment footerStyle">
    <div class="ui center aligned container">
        <div class="ui stackable grid">
            <div class="three wide column">
                <img src="./static/images/img1.jpeg" class="ui centered medium circular image" alt=""
                     style="width: 150px">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">The Newest Blog</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">placeHolder1</a>
                    <a href="#" class="item">placeHolder2</a>
                    <a href="#" class="item">placeHolder3</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">The Newest Blog</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">placeHolder1</a>
                    <a href="#" class="item">placeHolder2</a>
                    <a href="#" class="item">placeHolder3</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">About me</h4>
                <p>
                    I am a senior standing student majoring in Computer Science at University of Washington, Seattle.
                    I am passionate about applying new technologies that I learned to build interesting projects.
                    I like working out, running, and playing video games, especially those on Nintendo Switch.
                    I traveled a lot in the past during vacations, but now that we are still in the pandemic, I could
                    only visit places nearby.
                </p>
            </div>
        </div>
        <div class="ui divider"></div>
        <p class="text-space opacity-v3">Copyright 2021 Zheng Chen</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<!-- when in the mobile style and the user click the menu, the function below will en/disable
the css style "hidden-on-mobile" back and forth.-->
<script>
    $("#mobile_menu").click(function () {
        $(".menu-click").toggleClass("hidden-on-mobile");
    });

    $('.ui.dropdown').dropdown();
</script>
</body>
</html>