<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/admin_fragment :: head(~{title})">
    <meta charset="UTF-8">
    <!--width=device-width part sets the width of the page to follow the screen-width of the device -->
    <!-- initial-scale=1.0 part sets the initial zoom level when the page is first loaded by the browser. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publish</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!-- custom defined css file -->
    <link rel="stylesheet" href="../../static/css/frontPageStyle.css">
</head>
<body>

<!--The Top UI Element -->
<nav th:replace="admin/admin_fragment :: menu(1)" class="ui inverted attached segment nav-defined nav-shadow">
    <!-- stackable keyword is to stack rows to a single column for mobile devices -->
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui orange header item header-text-size">Admin</h2>
            <a href="#" class="item hidden-on-mobile menu-click"><i class="home icon"></i>Front Page</a>
            <a href="#" class="item hidden-on-mobile menu-click"><i class="lemon icon"></i>Category</a>
            <a href="#" class="item hidden-on-mobile menu-click"><i class="tag icon"></i>Tag</a>
            <div class="right menu hidden-on-mobile menu-click">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="../../static/images/avatar.JPG">
                        Zheng Chen
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui black icon button top-right show-on-mobile" id="mobile_menu">
            <i class="sidebar icon"></i>
        </a>
    </div>
</nav>
<!-- The secondary Navigation -->
<div class="ui attached pointing menu">
    <div class="ui container">
        <a href="#" class="teal active item" th:href="@{/admin/blogs/create}">Create</a>
        <a href="#" class="item" th:href="@{/admin/blogs}">Manage</a>
    </div>
</div>

<!-- The middle content -->
<div class="content-padding blog-width-small">
    <!-- the use of ui container here is for different devices like pc, mobile... -->
    <div class="ui container">
        <form id="blog-form" th:object="${blog}" action="#" method="post" th:action="@{/admin/blogs/publish}"
              class="ui form">
            <input type="hidden" name="publish">
            <input type="hidden" name="blogID" th:field="*{blogID}">
            <div class="field">
                <div class="ui left labeled action input">
                    <div class="ui compact teal basic label">Authentication</div>
                    <div class="ui fluid selection dropdown">
                        <input type="hidden" value="Original" th:field="*{Authentication}">
                        <i class="icon dropdown"></i>
                        <div class="default text"></div>
                        <div class="menu">
                            <div class="item" data-value="Original">Original</div>
                            <div class="item" data-value="Translate">Translate</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="ui left labeled input">
                    <label class="ui compact teal basic label">Title</label>
                    <input type="text" placeholder="Title" name="title" th:field="*{title}">
                </div>
            </div>

            <div class="field">
                <div class="ui left labeled input">
                    <label class="ui compact teal basic label">Author</label>
                    <input type="text" name="author" placeholder="Author Name(s)" th:field="*{author}">
                </div>
            </div>

            <div class="field">
                <textarea placeholder="Blog Content" name="content" id="content-editor"
                          class="ck-editor__editable" th:field="*{content}"></textarea>
            </div>

            <div class="field">
                <textarea placeholder="Blog Description" name="description" id="blog-description"
                          th:field="*{description}"></textarea>
            </div>
            <div class="two fields">
                <!-- Category -->
                <div class="field">
                    <div class="ui left labeled action input">
                        <div class="ui compact teal basic label">Category</div>
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="category" th:field="*{category.categoryID}">
                            <i class="dropdown icon"></i>
                            <div class="default text">Category</div>
                            <div class="menu">
                                <div th:each="category : ${categories}" th:attr="data-value=${category.categoryID}"
                                     th:text="${category.name}" class="item" data-value="1">
                                </div>
                                <div class="item" data-value="2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tag -->
                <div class="field">
                    <div class="ui left labeled action input">
                        <div class="ui compact teal basic label">Tag</div>
                        <!-- fluid is to make the two fields expand fully to the container -->
                        <div class="ui fluid multiple search selection dropdown">
                            <input type="hidden" name="tag" th:field="*{tagIDs}">
                            <i class="dropdown icon"></i>
                            <div class="default text">Tag</div>
                            <div class="menu">
                                <div th:each="tag : ${tags}" th:attr="data-value=${tag.tagID}" th:text="${tag.name}"
                                     class="item" data-value="1">Philosophy
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- photo url -->
            <div class="field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">Photo URL</label>
                    <input type="text" name="photo" placeholder="The URL of your favourite photo" th:field="*{photo}">
                </div>
            </div>

            <div class="inline fields">
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="open-comment" name="openComment" th:checked="${blog.openComment}">
                        <label for="comment">Enable Comment</label>
                    </div>
                </div>
            </div>

            <!-- this is where we hold the error message for the required field -->
            <div class="ui error message"></div>

            <div class="ui right aligned container">
                <button class="ui button" type="button" onclick="window.history.go(-1)">Back</button>
                <button class="ui button" type="button" id="save-button">Save</button>
                <button class="ui button" type="button" id="publish-button">Publish</button>
            </div>
        </form>
    </div>
</div>

<!-- The bottom element-->
<footer th:replace="admin/admin_fragment :: footer" class="ui inverted vertical segment footerStyle">
    <div class="ui center aligned container">
        <div class="ui stackable grid">
            <div class="three wide column">
                <img src="../../static/images/img1.jpeg" class="ui centered medium circular image" alt=""
                     style="width: 150px">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">The Newest Blog</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">placeHolder1</a>
                    <a href="#" class="item">placeHolder2</a>
                    <a href="#" class="item">placeHolder3</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">The Newest Blog</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">placeHolder1</a>
                    <a href="#" class="item">placeHolder2</a>
                    <a href="#" class="item">placeHolder3</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">About me</h4>
                <p>
                    I am a senior standing student majoring in Computer Science at University of Washington, Seattle.
                    I am passionate about applying new technologies that I learned to build interesting projects.
                    I like working out, running, and playing video games, especially those on Nintendo Switch.
                    I traveled a lot in the past during vacations, but now that we are still in the pandemic, I could
                    only visit places nearby.
                </p>
            </div>
        </div>
        <div class="ui divider"></div>
        <p class="text-space opacity-v3">Copyright 2021 Zheng Chen</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<!-- when in the mobile style and the user click the menu, the function below will en/disable
the css style "hidden-on-mobile" back and forth.-->
<script>
    $("#mobile_menu").click(function () {
        $(".menu-click").toggleClass("hidden-on-mobile");
    });

    $('.ui.dropdown').dropdown();
</script>

<script>
    // validate the textarea
    $(document).ready(function () {
        $("#content-editor").validate({
            rules: {
                content: {
                    required: true,
                    minLength: 1
                }
            },
            message: {
                content: {required: "The content should not be empty."}
            }
        });
    });

    $('#blog-form').form({
        fields: {
            title: {
                /* identifier should match the name field in the form */
                identifier: 'title',
                rules: [{
                    type: 'empty',
                    prompt: 'Title: Please insert blog title.'
                }]
            },
            description: {
                identifier: 'description',
                rules: [{
                    type: 'empty',
                    prompt: 'Description: Please provide some description for the blog.'
                }]
            }
        }
    });
</script>

<script>
    $("#save-button").click(function () {
        $("input[name='publish']").val(false);
        $("#blog-form").submit();
    });

    $("#publish-button").click(function () {
        $("input[name='publish']").val(true);
        $("#blog-form").submit();
    });
</script>

<!-- This is outer resource file, make sure you download the library -->
<script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor.create(document.querySelector('#content-editor'))
        .catch(error => {
            console.error(error);
        })
</script>
</body>
</html>